@import '_global.sss'

h2
  border: 1px dashed red
  width: 150px
.container
  max-width: 700px
  margin: 0 auto
  background: #e0e6cc
  box-shadow: 0 0 10px #b4b080
  padding: 20px 50px
  height: auto
  & a
    color: #b42322
    text-decoration: none
@media (max-width: 700px)
  body
    background-color: #e0e6cc
    width: auto
    margin: 0 auto
    border-radius: 0
    padding: 1em
  .container
    box-shadow: none
    padding: 0
