@import '_global.sss'

h2
  border: 1px dashed red
  width: 150px
.container
  width: 600px
  margin: 0 auto
  background: #e0e6cc
  box-shadow: 0 0 10px #b4b080
  padding: 20px 0 50px
  max-width: 860px
  width: 100%
  height: auto
  & a
    color: #b42322
    text-decoration: none
  li
    color: brown
